/* regole di reset  */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ul,
ol,
menu {
	list-style: none;
}
body{
    background-color: lightgray;
    font-family: 'Sono', monospace;
}
a{
    text-decoration: none;
    color:currentColor;
}
/* intestazione */
header{
    background-color: white;
    padding-top: 16px 32px;
}
.logo{
    font-size: 40px;
    font-weight: 700;
}
.logo-img{
    vertical-align: middle;
    padding-bottom: 12px;
}
.logo-text{
    display: inline-block;
}
/* corpo */
main{
    background-color: lightgray;
    min-height:640px;
}
.main-div{
    padding:24px;
}
.container{
    max-width: 1024px;
	margin: 0 auto;
    margin-bottom: 2px;
    padding-left:28px;
    background-color: white; 
}
.top-rounded{
    padding-top: 10px;
    padding-bottom: 4px;
    border-top-left-radius:4px;
    border-top-right-radius: 4px;
}
.bottom-rounded{
    padding-bottom:12px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
/* prima sezione bottoni */
.button-style{
    width: 70px;
    height: 20px;
    font-size: 10px;
    font-weight: 100;
    border-radius: 4px;
}
.color-blue{
    background-color: cornflowerblue;
    color: white;
    border-style:none;
}
.color-gray{
    background-color: rgb(255, 255, 255);
    color: rgb(204, 203, 203);
    border-color: rgb(204, 203, 203);
}
/* seconda sezione liste */
h2{
    font-size:18px;
    margin-bottom: 8px;
    font-weight: 500;
    }
.box{
    display: inline-block;
    width: 70px;
    height: 20px;
    border-radius: 15px;
    color:white;
    text-align: center;
    font-size: 10px;
    vertical-align: middle;
    padding-top: 4px;
}
.editorial{
    background-color: rgba(20, 169, 255, 0.842);
}
.global{
    background-color: rgb(185, 56, 228);
}
.recruiting{
    background-color: rgb(38, 166, 3);
}
.mobile{
    background-color: rgb(236, 157, 40);
}
.website{
    background-color: rgb(209, 70, 200);
}
.sales{
    background-color: rgb(140, 181, 63);
}
li{
    margin-bottom:8px;
}
h2:before{
    content:'\25BE';    
}
li.ok:before{
    content:'\2714';
    color: rgb(5, 248, 5);
    border-radius: 50%;
    border: 2px solid rgb(5, 248, 5);
    padding: 2px 4px;
}
li.cross::before{
    content:'\2718';
    color: red;
    border-radius: 50%;
    border: 2px solid red;
    padding: 2px 4px;
}